<div >
    <!--Assesments -->
    <candidate-assessments configKey="candidateAssessmentsConfig"></candidate-assessments>

    <!--Assesments HTMLs Over-->
    <!--Saved Programs HTMLs-->


    <candidate-programs configKey="programConfig"></candidate-programs>

    <!--Saved Programs Over-->
    <!-- Accommodation Requests -->
    <accommodation></accommodation>
    
    <!-- Accommodation Requests Over -->
    <!--Articles HTMLs-->
    <div class="articles-wrap item-container col-md-12">
        <ol class="itemsOutside">
            <li>
                <article>
                    <candidate-events configKey="savedEventConfig"></candidate-events>
                </article>
            </li>

            <li>
                <article>
                    <profile-product configKey="productPurchaseConfig"></profile-product>
                </article>
            </li>

            <li>
                <article>
                    <saved-articles configKey="savedArticle"></saved-articles> 
                </article>
            </li>

        </ol>
    </div>

    <!--Articles HTMLs Over-->

</div>