<div class="subheader" auto-save>
    <div class="container">        
        <div class="col-md-6 pull-right">
            <view-saved linkText="view purchased" cssName="viewsaved pull-right"></view-saved><a href="/frequently-asked-questions" class="viewsaved pull-right" role="link">Faq</a><cart-icon></cart-icon>
        </div>
    </div>
</div>
<div class="container">
    <product-detail-content [productContent]="productDetail"></product-detail-content>
</div>
<div>
   <shopping-cart></shopping-cart>
</div>