<div class="event-wrap col-md-12">

    <div class="col-md-12">
        <div class="row event-title-wrap program-grid-heading">
            <div class="col-md-4 col-xs-12">Event</div>
            <div class="col-md-4 col-xs-12">Host and Location</div>
            <div class="col-md-4 col-xs-12">About</div>

        </div>

        <div class="important-dates col-md-12">
            <p *ngIf="showMessage == true">Your search did not match any events.</p>
        </div>
        <div class="row event-content-wrap" *ngFor="let item of eventData;let last = last">
            <div class="col-md-4 col-xs-12 event-title">
                <div class="content-container">
                    <h1 class="headline"><a href="{{item.fields?.itemUrl?.value}}">{{item.fields?.eventName?.value}}</a></h1>
                    <div class="byline">
                        <div class="time">
                            <p> {{item.fields?.eventStartDate?.value | dateFormat}}</p>
                            <div *ngIf="(item.fields?.eventStartHour?.value ) && (item.fields?.eventEndHour?.value )">{{item.fields?.eventStartHour?.value}} to {{item.fields?.eventEndHour?.value }}</div>
                        </div>

                        <div class="reg-req" *ngIf="item.fields?.eventRegistrationRequired?.value ">Registration Required</div>
                    </div>
                    <div class="icons">
                        <save [id]="item.fields?.eventId?.value" [list]="savedEventList" [configKey]="saveKey" [isLast]="last"></save>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 event-details">
                <div class="collage-type">
                    <p class="font-bold" *ngIf="item.fields?.eventHostName?.value"><a href="{{item.fields?.itemUrl?.value}}">{{item.fields?.eventHostName?.value}}</a></p>
                    <div class="location" address [item]="item.fields"></div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12 event-description" *ngIf="item.fields?.description?.value">
                <p class="desc" [innerHtml]="item.fields?.description?.value"></p>
            </div>
        </div>

    </div>
    <!-- Use below html for pagination -->
    <div *ngIf="pagination == true">
        <div class="col-lg-12" *ngIf="pager">
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li class="arrow prev" [class]="[pager.currentPage == 1 ? 'disabled':'']">
                    <a (click)="prev()">Prev</a>
                </li>
                <li class="page-number" *ngFor="let page of pager.pages" [class]="[pager.currentPage == page ? 'active':'']">
                    <a (click)="setPage(page)">{{page}}</a>
                </li>
                <li class="arrow next enabled-arrow" [class]="[pager.currentPage == pager.totalPages ? 'disabled':'']">
                    <a (click)="next()">Next</a>
                </li>
            </ul>
        </div>
    </div>
</div>
